.container {
  background-color: #E9ECEF;
  width: 100vw;
  display: flex;
  position: relative;
}
.container .navBar {
  position: fixed;
  width: 100%;
  height: 76px;
  background: white;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 1px solid rgb(233, 236, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .navBar .navToggle {
  width: 15vw;
  height: 100%;
  display: none;
}
.container .navBar .searchCont {
  display: flex;
  align-items: center;
  margin-left: 15vw;
}
.container .navBar .searchCont input {
  width: 304px;
  height: 36px;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  margin-left: 22px;
  display: block;
  padding-left: 48px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='19' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.container .navBar .profileSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 336px;
  height: 45px;
  margin-right: 32px;
}
.container .navBar .profileSection .profileName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container .navBar .profileSection .profileName span {
  font-size: 16px;
}
.container .navBar .profileSection .profileName p {
  font-size: 13px;
  color: #8A92A6;
}
.container .sideNav {
  width: 15%;
  background-color: white;
  padding: 0 clamp(5px, 0.7%, 12px);
  padding-top: 24px;
}
.container .sideNav .sideNavCont {
  margin-top: 76px;
  overflow-x: auto;
}
.container .sideNav .navSection {
  border-bottom: 1px solid #E9ECEF;
  margin-top: 24px;
}
.container .sideNav .navSection h6 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 16px;
  color: #ADB5BD;
  margin-bottom: 16px;
}
.container .sideNav .navSection .selectedBtn {
  cursor: pointer;
  background-color: #3A57E8;
  padding: 10px clamp(5px, 10%, 24px);
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .sideNav .navSection .selectedBtn svg {
  flex-shrink: 0;
}
.container .sideNav .navSection .selectedBtn span {
  margin-left: clamp(5px, 6%, 14px);
  font-size: clamp(11px, 1vw, 16px);
}
.container .sideNav .navSection .sectionBtn {
  cursor: pointer;
  padding: 10px clamp(5px, 10%, 24px);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .sideNav .navSection .sectionBtn svg {
  flex-shrink: 0;
}
.container .sideNav .navSection .sectionBtn span {
  margin-left: clamp(5px, 6%, 14px);
  font-size: 16px;
  font-size: clamp(11px, 1vw, 16px);
}
.container .main {
  width: 85%;
  height: 100%;
}
.container .main .heroBanner {
  height: 276px;
  width: 100%;
  background-image: url(/images/login-and-confirm-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 16px;
  padding: 0 40px;
  position: relative;
}
.container .main .heroBanner .hero {
  position: relative;
  top: 93px;
}
.container .main .heroBanner .hero .heroText {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: white;
  width: 100%;
}
.container .main .heroBanner .hero .heroText h1 {
  font-size: clamp(25px, 2.5vw, 40px);
  font-weight: 700;
  margin-bottom: 8px;
}
.container .main .heroBanner .hero .heroText p {
  font-weight: 500;
  font-size: clamp(15px, 1.5vw, 23px);
}
.container .main .heroBanner .hero .heroText .announcements {
  cursor: pointer;
  border-radius: 4px;
  background-color: rgba(58, 87, 232, 0.35);
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .heroBanner .hero .heroCharts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}
.container .main .heroBanner .hero .heroCharts .chartsInfo {
  width: 15%;
  height: 117px;
  background-color: white;
  top: 100px;
  border-radius: 8px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 12px;
}
.container .main .heroBanner .hero .heroCharts .chartsInfo img {
  width: 68px;
  height: 68px;
}
.container .main .heroBanner .hero .heroCharts .chartsInfo span {
  color: #8A92A6;
}
.container .main .heroBanner .hero .heroCharts .chartsInfo h4 {
  margin-top: 8px;
  font-weight: 500;
  font-size: 19px;
}
.container .main .mainContent {
  width: 100%;
  padding: 0 40px;
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
}
.container .main .mainContent .section1 {
  width: 75%;
}
.container .main .mainContent .section1 .mainChart {
  height: 447px;
  background-color: white;
  width: 100%;
  border-radius: 8px;
  padding: 24px;
}
.container .main .mainContent .section1 .mainChart .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .mainContent .section1 .mainChart .head div h3 {
  font-size: 19px;
  font-weight: 500;
}
.container .main .mainContent .section1 .mainChart .head div span {
  color: #8A92A6;
}
.container .main .mainContent .section1 .mainChart .head button {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}
.container .main .mainContent .section1 .mainChart .head button span {
  color: #8A92A6;
}
.container .main .mainContent .section1 .mainChart .chart {
  height: 87%;
}
.container .main .mainContent .section1 .earningsConversions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 40px;
}
.container .main .mainContent .section1 .earningsConversions .earnings {
  width: 40%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 32px;
}
.container .main .mainContent .section1 .earningsConversions .earnings .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .mainContent .section1 .earningsConversions .earnings .head h3 {
  font-size: 19px;
  font-weight: 500;
}
.container .main .mainContent .section1 .earningsConversions .earnings .head button {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}
.container .main .mainContent .section1 .earningsConversions .earnings .head button span {
  color: #8A92A6;
}
.container .main .mainContent .section1 .earningsConversions .conversions {
  width: 60%;
  height: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 24px;
}
.container .main .mainContent .section1 .earningsConversions .conversions .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main .mainContent .section1 .earningsConversions .conversions .head h3 {
  font-size: 19px;
  font-weight: 500;
}
.container .main .mainContent .section1 .earningsConversions .conversions .head button {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}
.container .main .mainContent .section1 .earningsConversions .conversions .head button span {
  color: #8A92A6;
}
.container .main .mainContent .section1 .enterprise {
  height: 542px;
  width: 100%;
  margin-top: 40px;
  border-radius: 8px;
  background-color: white;
}
.container .main .mainContent .section2 {
  width: 25%;
}
.container .main .mainContent .section2 .debitCard {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
}
.container .main .mainContent .section2 .debitCard img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.container .main .mainContent .section2 .debitCard .salesInfo {
  padding: 24px 20px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons {
  display: flex;
  align-items: center;
  gap: 0 5%;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon1Cont {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon1Cont .icon1 {
  background-color: #D8DDFA;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon1Cont p {
  color: #232D42;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon1Cont span {
  font-size: 13px;
  color: #8A92A6;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon2Cont {
  display: flex;
  align-items: center;
  gap: 0 8px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon2Cont .icon2 {
  background-color: #CDEBEC;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon2Cont p {
  color: #232D42;
}
.container .main .mainContent .section2 .debitCard .salesInfo .icons .icon2Cont span {
  font-size: 13px;
  color: #8A92A6;
}
.container .main .mainContent .section2 .debitCard .salesInfo .lifetime {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.container .main .mainContent .section2 .debitCard .salesInfo .lifetime .text h2 {
  font-weight: 500;
  font-size: 28px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .lifetime .text span {
  color: #08B1BA;
}
.container .main .mainContent .section2 .debitCard .salesInfo .lifetime .badge {
  background-color: #1AA053;
  width: 80px;
  height: 25px;
  color: white;
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .main .mainContent .section2 .debitCard .salesInfo .salesCTA {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .salesCTA button:nth-child(1) {
  cursor: pointer;
  background-color: #3A57E8;
  color: white;
  border: none;
  width: 40%;
  height: 36px;
}
.container .main .mainContent .section2 .debitCard .salesInfo .salesCTA button:nth-child(2) {
  cursor: pointer;
  background-color: #08B1BA;
  color: white;
  border: none;
  width: 40%;
  height: 36px;
}
.container .main .mainContent .section2 .visitors {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 8px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  text-align: center;
}
.container .main .mainContent .section2 .activity {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  margin-top: 40px;
  padding: 24px;
}
.container .main .mainContent .section2 .activity h3 {
  font-size: 23px;
  font-weight: 500;
}
.container .main .mainContent .section2 .activity .subHead {
  color: #8A92A6;
  margin-top: 8px;
  margin-bottom: 24px;
}
.container .main .mainContent .section2 .activity .activityCont {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
  gap: 0 8px;
}
.container .main .mainContent .section2 .activity .activityCont .indicator {
  border-radius: 50%;
  border: 1px solid #3A57E8;
  width: 21px;
  height: 21px;
}
.container .main .mainContent .section2 .activity .activityCont .content h6 {
  font-size: 19px;
  margin: 5px 0;
}
.container .main .mainContent .section2 .activity .activityCont .content span {
  color: #8A92A6;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container .sideNav {
    width: 20%;
  }
  .container .main {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .container .navBar .navToggle {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container .navBar .navToggle .bars {
    width: 25px;
    height: 25px;
  }
  .container .navBar .searchCont {
    margin-left: 0;
  }
  .container .navBar .searchCont input {
    width: 55vw;
    margin-left: 5px;
  }
  .container .navBar .profileSection {
    justify-content: flex-end;
    margin-right: 0;
  }
  .container .navBar .profileSection img:nth-child(1) {
    display: none;
  }
  .container .navBar .profileSection svg {
    display: none;
  }
  .container .navBar .profileSection .profileName {
    display: none;
  }
  .container .sideNav {
    transform: translateX(-100%);
    width: 0;
    padding: 0;
  }
  .container .main {
    width: 100%;
  }
  .container .main .heroBanner {
    padding: 0 15px;
  }
  .container .main .heroBanner .hero .heroText .announcements span {
    display: none;
  }
  .container .main .heroBanner .hero .heroCharts {
    gap: 5px;
    flex-wrap: wrap;
  }
  .container .main .heroBanner .hero .heroCharts .chartsInfo {
    flex-shrink: 0;
    width: 90px;
    height: 70px;
    margin-bottom: 5px;
  }
  .container .main .mainContent {
    padding: 0 15px;
    gap: 15px;
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }
  .container .main .mainContent .section1 {
    width: clamp(290px, 90vw, 600px);
  }
  .container .main .mainContent .section1 .earningsConversions {
    flex-direction: column;
    gap: 10px 0;
  }
  .container .main .mainContent .section1 .earningsConversions .earnings, .container .main .mainContent .section1 .earningsConversions .conversions {
    width: 100%;
  }
  .container .main .mainContent .section2 {
    width: clamp(290px, 90vw, 600px);
  }
}/*# sourceMappingURL=home.module.css.map */